In [17]:
mydata <- read.csv("C:/Users/Philco/downloads/dados.csv", header=FALSE)
head(mydata, 25)

   V1       V2    V3
1  20:22:32 21.50 21.31
2  20:23:34 19.37 20.81
3  20:24:35 18.87 16.37
4  20:25:37 80.37 16.06
5  20:26:39 78.25 16.12
6  20:27:40 74.94 16.19
7  20:28:42 71.87 16.25
8  20:29:43 69.31 16.37
9  20:30:45 66.87 16.44
10 20:31:47 64.75 16.50
11 20:32:48 62.81 16.62
12 20:33:50 61.00 16.75
13 20:34:52 59.38 16.81
14 20:35:53 57.75 16.94
15 20:36:55 56.25 17.00
16 20:37:57 54.94 17.06
17 20:38:58 53.63 17.19
18 20:40:00 52.38 17.25
19 20:41:01 51.25 17.37
20 20:42:03 50.19 17.44
21 20:43:05 49.19 17.50
22 20:44:06 48.25 17.56
23 20:45:08 47.31 17.69
24 20:46:10 46.44 17.75
25 20:47:11 45.63 17.81

In [18]:
names(mydata) <- c('Horário','Temperatura A','Temperatura B')

In [19]:
head(mydata, 5)

  Horário  Temperatura A Temperatura B
1 20:22:32 21.50         21.31
2 20:23:34 19.37         20.81
3 20:24:35 18.87         16.37
4 20:25:37 80.37         16.06
5 20:26:39 78.25         16.12

In [20]:
#Calculando a quantidade de dados faltantes
sum(is.na(mydata))

[1] 0

In [6]:
install.packages("tidyverse")

also installing the dependencies 'glue', 'tidyselect', 'dplyr', 'purrr', 'rlang', 'tibble'

package 'glue' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'glue'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\ProgramData\Anaconda3\envs\r-tutorial\Lib\R\library\00LOCK\glue\libs\i386\glue.dll to C:\ProgramData\Anaconda3\envs\r-tutorial\Lib\R\library\glue\libs\i386\glue.dll: Permission denied"Warning message:
"restored 'glue'"

package 'tidyselect' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'purrr' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\ProgramData\Anaconda3\envs\r-tutorial\Lib\R\library\00LOCK\rlang\libs\i386\rlang.dll to C:\ProgramData\Anaconda3\envs\r-tutorial\Lib\R\library\rlang\libs\i386\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Philco\AppData\Local\Temp\Rtmpw79bSQ\downloaded_packages

In [7]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"

ERROR: Error: package or namespace load failed for 'dplyr' in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 namespace 'rlang' 0.3.4 is already loaded, but >= 0.4.6 is required

In [8]:
 mydata %>% select("Horário", "Temperatura A")

ERROR: Error in mydata %>% select("Horário", "Temperatura A"): não foi possível encontrar a função "%>%"